<style>
    em {
        font-style: normal;
        font-size:11px;
    }
   
    #dates td
    {
        font-size:13px;
        color:black;
    }
    #dates
    {
        float:right;
    }
    li
    {
        font-size:10px;
    }
    .ql-editor p {
        font-size: 10px;
        font-weight:normal;
        line-height: 13px !important;
    }
    .ql-editor>* {
        font-size: 12px;
        font-weight:normal;
    }
    [document-status] {
        display:none;
    }
    .print-heading {
        display:none;
    }
    .ql-editor p
    {
        font: size 12px;
        color:black;
        padding:0 5px !important;
        overflow-y: hidden;
    }
    </style>
<div style="width: 100%;">
    <div style="width: 50%;float: left;">
        <img alt="Stebilex" src="/files/Stebilex uae.png" style="width: 100% !important;">
    </div>
    <div style="width: 50%;float: right;">
        <p style="font-size: 15px;color: black;text-align: end;font-weight: 600;">PURCHASE ORDER</p>
        <p style="font-size: 15px;color: black;text-align: end;font-weight: 600;">Purchase Order #{{doc.name}}</p>
        <p style="font-size: 15px;color: black;text-align: end;font-weight: 600;">{% if doc.docstatus == 0 %} Status : Draft {% endif %}</p>
    </div>
</div>
    
<div style="width: 100%;padding-top: 30px;float: left;">
    <div style="width: 50%;float: left;">
        <p style="font-size: 15px;color: black;font-weight: 600;">Stebilex Systems LLC</p>
        {% if doc.company %}
        {% set address_name = frappe.db.get_all('Address',{"address_title":doc.company}) %}
            {% if address_name %}
            {% set address=frappe.get_doc('Address',address_name[0]) %}
            {% endif %}
            
        <p style="font-size: 13px;color: black;">
            {% if address %}
                {% if address.address_line1 %} {{ address.address_line1 }}{% endif %}<br>
                {% if address.address_line2 %}{{ address.address_line2 }}<br> {% endif %}
                {% if address.city %} {{ address.city}},{% endif %}
                {% if address.state %} {{address.state}} <br>{% endif %}
                {% if address.country %} {{address.country}}<br> {% endif %}
                {% if address.phone %} P: {{address.phone}} <br> {% endif %}
                {% if address.email_id %} E: {{address.email_id}} <br> {% endif %}
            {% endif %}
            {% set tax = frappe.get_doc('Company',doc.company) %}
            {% if tax.tax_id %}TRN: {{tax.tax_id}} {% endif %}
        </p>
        
        {% endif %}
    </div>
    <!-- <div style="width: 50%;float: right;">
        <p style="font-size: 15px;color: black;font-weight: 600;text-align: end;">Balance Due</p>
        <p style="font-size: 15px;color: black;font-weight: 600;text-align: end;">{{doc.currency}} {{doc.total}}</p>
    </div> -->
</div>
<div style="width: 100%;padding-top: 30px;">
    <div style="width: 50%;float: left;padding-top: 30px;">
        <div>
            <!-- <p style="font-size: 13px;color: black;"></p> -->
            <p style="font-size: 13px;color: black;">
                <b>Bill To</b><br>
                <b>{% if doc.supplier %} {{doc.supplier}} {% endif %}</b><br>
                {% if doc.supplier_address %}
                    {% set customer_address =frappe.get_doc('Address',doc.supplier_address) %}
                    {% if customer_address.address_line1 %} {{ customer_address.address_line1 }}<br>{% endif %}
                    {% if customer_address.address_line2 %} {{ customer_address.address_line2 }}<br>{% endif %}
                    {% if customer_address.city %}{{ customer_address.city}} <br> {% endif %}
                    {% if customer_address.state %} {{customer_address.state}} <br> {% endif %}
                    {% if customer_address.pincode %} {{customer_address.pincode}} <br> {% endif %}
                    
                    {% set cus_tax = frappe.get_doc('Supplier',doc.supplier) %}
                    {% if cus_tax.tax_id %}TRN: {{ cus_tax.tax_id }}<br> {% endif %}
                    {% if customer_address.email_id %} Email : {{customer_address.email_id}} <br> {% endif %}
                    {% if customer_address.phone %} {{customer_address.phone}} <br> {% endif %}
                {%endif%}
            </p>
        </div>
        <div style="padding-top: 10px;">
            <p style="font-size: 13px;color: black;font-weight: 600;;">Deliver To</p>
            <p style="font-size: 13px;color: black;">
                {% if doc.shipping_address %}
                    {% set ship_address =frappe.get_doc('Address',doc.shipping_address) %}
                    <b>{% if ship_address.address_title %} {{ship_address.address_title}} <br>{% endif %}</b>
                    {% if ship_address.address_line1 %} {{ ship_address.address_line1 }}<br>{% endif %}
                    {% if ship_address.address_line2 %} {{ ship_address.address_line2 }}<br>{% endif %}
                    {% if ship_address.city %}{{ ship_address.city}} <br> {% endif %}
                    {% if ship_address.state %} {{ship_address.state}} <br> {% endif %}
                    {% if ship_address.pincode %} {{ship_address.pincode}} <br> {% endif %}
                    
                    <!-- {% set cus_tax = frappe.get_doc('Supplier',doc.supplier) %} -->
                    {% if ship_address.company_trn %}TRN: {{ ship_address.company_trn }}<br> {% endif %}
                    {% if ship_address.email_id %} Email : {{ship_address.email_id}} <br>{% endif %}
                    {% if ship_address.phone %} {{ship_address.phone}} <br> {% endif %}
                {%endif%}
            </p>
        </div>
    </div>
    <div style="width: 50%;float:right;padding-top: 30px;">
        <table class="tbl1" style="width:100%;">
            <tr>
                <td style="font-size:13px;color:black;white-space: nowrap;">Order Date</td>
                <td>:</td>
                <td style="font-size:13px;color:black;">{% if doc.transaction_date %} {{ doc.get_formatted('transaction_date') }} {% endif %}</td>
            </tr>
            <tr>
                <td style="font-size:13px;color:black;">VAT No</td>
                <td>:</td>
                <td style="font-size:13px;color:black;">
                {% if doc.supplier %}
                    {% set tax_id = frappe.get_doc("Supplier",doc.supplier) %}
                    {% if tax_id.tax_id %}    
                        {{tax_id.tax_id}}
                    {% endif %}
                {% endif %}
                </td>
            </tr>
            <tr>
                <td style="font-size:13px;color:black;">Ref#</td>
                <td>:</td>
                <td style="font-size:13px;color:black;"></td>
            </tr>
        </table>
    </div>
</div>

<div style="width:100%;">
    <table style="width:100%;margin-top:30px !important;">
        <thead style="margin-bottom:5px !important;background-color: lightgray;">
<tr>
    <th style="text-align:center;font-size:12px;font-weight:600;color:black;">SI.No</th>
    <th style="text-align:left;font-size:12px;font-weight:600;color:black;">Item & Description</th>
    <th style="text-align:center;font-size:12px;font-weight:600;color:black;">Qty</th>
    <th style="text-align:center;font-size:12px;font-weight:600;color:black;">Rate</th>

    <th style="text-align:center;font-size:12px;font-weight:600;color:black;white-space: nowrap;">Tax %</th>
    <th style="text-align:center;font-size:12px;font-weight:600;color:black;">Tax</th>

    <th style="text-align:center;font-size:12px;font-weight:600;color:black;">Amount</th>
</tr>
</thead>

<tbody>
    {% for row in doc.items %}        
    <tr style="border-bottom:1px solid lightgray;">
        <td style="font-size: 12px;color:black;text-align: center;">{{ loop.index }}</td>
        <td style = "text-align: left;font-size:12px;color:black;">
            <b>{{ row.item_name }}</b><br>
            <b>SKU : {% if row.item_code %} {{row.item_code}} {% endif %}</b><br>
            {% set description_text = row.description | replace ('<div class="ql-editor read-mode">','') | replace('</div>','') %}
            <div style="width:100%;font-size:12px;color:black;">
                {{ description_text }}
            </div>
        </td>
        <td style = "text-align:center;font-size:12px;color:black;">{{"%.0f"|format(row.qty)}} {{row.uom}}</td>
        <td style = "text-align:right;font-size:12px;color:black;white-space:nowrap;">
            {{frappe.utils.fmt_money(row.rate,currency=doc.currency)}}
        </td>
        <td style = "text-align:center;border-right:none;font-size:12px;color:black;">
            {% if doc.item_tax_template %}
                {% set tax_template = frappe.get_do('Item Tax Template',doc.item_tax_template) %}
                {% for data in tax_template.taxes %}
                    {{data.tax_rate}}
                {% endfor %}
            {% elif doc.taxes %}
                {{doc.taxes[0].rate}}
            {% else %}
                {{0}}
            {% endif %} 
        </td>
        <td style = "text-align:right;border-right:none;font-size:12px;color:black;"> 
            {% if row.item_tax_template %}
            {% set tax_template = frappe.get_doc('Item Tax Template', row.item_tax_template) %}
            {% for data in tax_template.taxes %}
                {{ frappe.utils.fmt_money((row.rate * row.qty * data.tax_rate / 100), currency=doc.currency) }}
            {% endfor %}
        {% elif doc.taxes %}
            {{ frappe.utils.fmt_money((row.rate * row.qty * doc.taxes[0].rate / 100), currency=doc.currency) }}
        {% else %}
            {{0}}
        {% endif %}
        </td>
        <td style = "text-align:right;font-size:12px;color:black;white-space:nowrap;">
            {% if row.item_tax_template %}
                {% set tax_template = frappe.get_doc('Item Tax Template', row.item_tax_template) %}
                {% for data in tax_template.taxes %}
                    {{ frappe.utils.fmt_money((row.rate * row.qty * (data.tax_rate / 100 + 1)), currency=doc.currency) }}
                {% endfor %}
            {% elif doc.taxes %}
                {{ frappe.utils.fmt_money((row.rate * row.qty * (doc.taxes[0].rate / 100 + 1)), currency=doc.currency) }}
            {% else %}
                {{ frappe.utils.fmt_money((row.rate * row.qty), currency=doc.currency) }}
            {% endif %}
        </td>
    </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div style="width: 100%;float: right;">
    <div style="width: 50%;float: left;">
        
        <p style="font-size: 12px;color: black;">Items in Total : {{doc.total_qty}}</p>
    </div>
    <div style="width: 100%;float: right;">
        <table id="td2" width="50%;" style="float: right;line-height: 1px;">
            <tr>
                <td style="text-align: end;font-weight:600;font-size: 12px;color:royalblue">Sub Total</td>
                <td></td>
                <td style="text-align: end;font-weight:600;font-size: 12px;color:royalblue">{{doc.currency}} {{frappe.utils.fmt_money(doc.net_total)}}</td>
            </tr>
            <tr>
                <td style="text-align: end;font-weight:600;font-size: 12px;color:blue">Standard Rate {% if doc.taxes %} ({{doc.taxes[0].rate | int}})% {% else %} ({{0}}) {% endif %}</td>
                <td></td>
                <td style="text-align: end;font-weight:600;font-size: 12px;color:blue">{% if doc.total_taxes_and_charges %} {{ doc.currency }} {{frappe.utils.fmt_money(doc.total_taxes_and_charges)}} {% else %} {{0}} {% endif %}</td>
            </tr>
            <tr>
                <td style="text-align: end;font-weight:600;font-size: 12px;color:blue">Total</td>
                <td></td>
                <td style="text-align: end;font-weight:600;font-size: 12px;color:blue">{{ doc.currency }} {{ frappe.utils.fmt_money (doc.grand_total)}}</td>
            </tr>
        </table> 
    </div>
</div>
<div>
    {% if doc.currency == 'AED' %}
    <p style="font-size: 13px;color: black;">Total in Words : {{frappe.utils.money_in_words(doc.base_grand_total)}}</p>
    {% else %}
    <p style="font-size: 13px;color: black;">Total in Words : {{frappe.utils.money_in_words(doc.grand_total, doc.currency)}}</p>
    {% endif %}
</div>

{% if doc.taxes %}
<div style="width:100%;float:left">
    <p style="float: left;font-size: 13px;color: black;width: 100px;">Tax Summary</p>
        <table style="width: 100%;"> 
            <thead style="border-bottom:1px solid black;background-color: whitesmoke;">
                <tr>
                    <td style="padding:5px !important;text-align:left;"><span style="font-size:12px;font-weight:600;">Tax Details</span></td>
                    <td style="padding:5px !important;text-align:right;"><span style="font-size:12px;font-weight:600;">Taxable Amount</span></td>
                    <td style="padding:5px !important;text-align:right;"><span style="font-size:12px;font-weight:600;">Tax Amount</span></td>
                </tr>
            </thead>
            <tbody>
                <tr style="border-bottom:1px solid black;">
                    <td style="font-size:12px;color:black;text-align: left;">
                        VAT {% if doc.taxes %} ({{doc.taxes[0].rate | int}})%  {% else %} ({{0}}) {% endif %}
                    </td>
                    <td style="font-size:12px;color:black;text-align: right;">{{frappe.utils.fmt_money (doc.total,currency=doc.currency)}}</td>
                    <td style="font-size:12px;color:black;text-align: right;">
                        {% if doc.taxes %}   {{frappe.utils.fmt_money(doc.taxes[0].tax_amount,currency=doc.currency)}} {% endif %}
                       </td>
                </tr>
               <tr style="border-bottom: 1px solid black;">
                <td style="font-size:12px;color:black;text-align: left;font-weight:600;">Total</td>
                <td style="font-size:12px;color:black;text-align: right;font-weight:600;">{{frappe.utils.fmt_money(doc.total,currency=doc.currency)}}</td>
                <td style="font-size:12px;color:black;text-align: right;font-weight:600;">{% if doc.taxes %}{{frappe.utils.fmt_money(doc.taxes[0].tax_amount,currency=doc.currency)}} {% endif %}</td>
               </tr>
            </tbody>
        </table>
</div>
{% endif %}

<div style="width: 100%;float:left;">
    <p style="font-size: 13px;color:black;text-align: left;">Notes</p>
    <p style="font-size: 13px;color:black;text-align: left;">
        Thanks for your business.<br>
        [Please note that all product pictures shown are for illustration purpose only. The actual products may vary]<br>
        [Any equipment required for unloading the materials needs to be arranged by the client]<br>
    </p>
</div>

{% if doc.tc_name %}
<div style="width:100%;padding-top:10px;">
    <table style="float:left; width:100% !important;">
        <tr>
            <td style="padding:0px !important;text-align:justify;">
                {{ doc.terms}}
            </td>
        </tr>
    </table>
</div>
{% endif %}